/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

/* SCSS HEX */
$vermilion: #E95244ff;
$dark-green: #1F2B1Dff;
$apple-green: #8ea604ff;
$amber: #f5bb00ff;
$gamboge: #ec9f05ff;

$paper-grey: #f4f2f3ff;
$space-grey: #53464Dff;
$dark-bg: #1d100eff;

// Default
$primary: $vermilion;
$secondary: $dark-green;
$background: $paper-grey;

.light {
  $primary: $vermilion;
  $secondary: $dark-green;
  $background: $paper-grey;
}

.dark {
  $primary: #FFB4AA;
  $secondary: #BCCBB6;
  $background: $dark-bg;
}

body {
  background: $background;
}

h1,
h2,
h3 {
  font-family: 'MontserratAlternates';
}
