/* stylelint-disable no-descending-specificity, media-feature-range-notation */
@use 'theme';
@use 'components';

@import url("https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic");

/**
 * Base Elements
 */

* {
  margin: 0;
  padding: 0;
}

// Always display scrollbar
html {
  overflow-y: scroll;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: Lato, "Open Sans", "Helvetica Neue", "Segoe UI", Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

a {
  color: #016aba;
  text-decoration: none;
}

button {
  font-size: 100%;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}

/**
 * Button
 */

.button {
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  background: #016aba;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.9;
  display: inline-block;
}

.button:hover {
  opacity: 1;
}

/**
 * Body Container
 */

.container {
  max-width: 1024px;
  min-height: 100vh;
  background: var(--background-color);
  margin: 0 auto;
}

/**
 * Content Area
 */

.content {
  padding: 15px;
}

/**
 * Similar to Jumbotron
 */

.jumbo {
  padding: 50px;
  background: var(--background-color-1);
  box-shadow: var(--box-shadow-1);
}

.jumbo:hover {
  background-color: var(--background-color-2);
  box-shadow: var(--box-shadow-2);
}

.jumbo h2 {
  font-size: 3.2em;
  margin-top: -25px;
}

.jumbo p,
.jumbo address {
  margin-bottom: 25px;
}

.jumbo img {
  height: 200px;
  position: relative;
  top: -25px;
  right: -20px;
}

/**
 * Utilities
 */
.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

.tomster {
  background: url("../assets/images/teaching-tomster.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  position: relative;
  top: -25px;
}

.screen-reader {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* stylelint-enable no-descending-specificity, media-feature-range-notation */
