.light-medium-contrast {
  --md-sys-color-primary: rgb(138 8 9);
  --md-sys-color-surface-tint: rgb(178 42 34);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(209 65 53);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(14 26 13);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(45 57 43);
  --md-sys-color-on-secondary-container: rgb(235 250 228);
  --md-sys-color-tertiary: rgb(92 61 0);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(157 107 0);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(140 0 9);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(218 52 46);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 248 247);
  --md-sys-color-on-background: rgb(38 24 22);
  --md-sys-color-surface: rgb(255 248 247);
  --md-sys-color-on-surface: rgb(38 24 22);
  --md-sys-color-surface-variant: rgb(255 218 213);
  --md-sys-color-on-surface-variant: rgb(85 61 57);
  --md-sys-color-outline: rgb(116 89 85);
  --md-sys-color-outline-variant: rgb(145 116 112);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(60 45 42);
  --md-sys-color-inverse-on-surface: rgb(255 237 234);
  --md-sys-color-inverse-primary: rgb(255 180 170);
  --md-sys-color-primary-fixed: rgb(209 65 53);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(175 40 32);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(107 120 103);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(82 96 79);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(157 107 0);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(125 84 0);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(238 212 209);
  --md-sys-color-surface-bright: rgb(255 248 247);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 240 238);
  --md-sys-color-surface-container: rgb(255 233 230);
  --md-sys-color-surface-container-high: rgb(253 226 222);
  --md-sys-color-surface-container-highest: rgb(247 221 217);
}
