.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: var(--primary);
}

.nav-bar > * {
  padding: 10px 20px;
  max-height: 4em;
  align-content: center;
  color: var(--contrast-text-color);
}

.nav-bar > a:hover,
.nav-bar > a:active {
  background-color: #00000010;
}
