$sm-height: 24px;
$md-height: 32px;
$lg-height: 40px;

.switch {
  --height: #{$md-height};
  --padding: 4px;

  position: relative;
  display: inline-block;
  margin: 0px;
  height: var(--height);
  aspect-ratio: 1.75 / 1;
  // width: calc(var(--height) * 1.75);
}

.switch.small,
.switch.sm {
  --height: #{$sm-height};
  --padding: 1px;
}

.switch.large,
.switch.lg {
  --height: #{$lg-height};
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The pill around the knob */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: inherit;
  aspect-ratio: inherit;
  border-radius: var(--height); // Always round
  background-color: var(--text-color);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--secondary);
}

.contrast .slider,
.contrast input:checked + .slider {
  background-color: var(--background-color);
}

/* The knob */
.slider:before {
  position: absolute;
  content: "";
  aspect-ratio: 1;
  height: calc(var(--height) - (2 * var(--padding)));
  left: var(--padding);
  bottom: var(--padding);
  border-radius: 50%;
  background-color: var(--background-color);
  -webkit-transition: .4s;
  transition: .4s;
}

// input:focus + .slider {
//   box-shadow: 0 0 1px var(--secondary);
// }

input:checked + .slider:before {
  --slide-distance: calc(var(--height) * .75);
  -webkit-transform: translateX(var(--slide-distance));
  -ms-transform: translateX(var(--slide-distance));
  transform: translateX(var(--slide-distance));
}

.contrast .slider:before,
.contrast input:checked + .slider:before {
  background-color: var(--primary);
}

// .contrast input:checked + .slider:before {
//   background-color: var(--secondary);
// }
