<div class='nav-bar'>
  <LinkTo @route='home' class='button' data-test='home-button'>
    MWMEMA
  </LinkTo>
  <LinkTo @route='resources' class='button' data-test='resources-button'>
    Find Resources
  </LinkTo>
</div>
