<div class='nav-bar'>
  <LinkTo @route='home' data-test='home-button'>
    <h1 class='italic'>MWMEMA</h1>
  </LinkTo>
  <LinkTo @route='resources' data-test='resources-button'>
    <h2>Find Resources</h2>
  </LinkTo>
  <div class='spacer' />
  <ThemeToggle />
</div>
