<div class='theme-toggle'
  {{set-theme this.theme this.allThemes}}
>
  <FaIcon @icon='moon' @size='2x' />
  <Switch @checked={{this.isLightTheme}} @contrast=true />
  <FaIcon @icon='sun' @size='2x' />
</div>
